$def with(tipos_productos)
<h3>
    <a href="/tipos_productos">tipos_productos</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>tipos_productos</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in tipos_productos:
        <tr>
            <td><a href='/tipos_productos/view/$item.id_producto'>$item.id_producto</a></td>
            <td><a href='/tipos_productos/edit/$item.id_producto'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/tipos_productos/delete/$item.id_producto'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>