$def with(recomendaciones, message)
<h3>
    <a href="/recomendaciones">recomendaciones</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_recomendacion" id="id_recomendacion" value="$recomendaciones.id_recomendacion" />

    <div class="form-group">
    <label for="fecha">fecha</label>
    <input required id="fecha" type="text" class="form-control" name="fecha" size="30" value="$recomendaciones.fecha"/>
</div><div class="form-group">
    <label for="descripcion">descripcion</label>
    <input required id="descripcion" type="text" class="form-control" name="descripcion" size="30" value="$recomendaciones.descripcion"/>
</div><div class="form-group">
    <label for="precio">precio</label>
    <input required id="precio" type="text" class="form-control" name="precio" size="30" value="$recomendaciones.precio"/>
</div><div class="form-group">
    <label for="latitud_ubi">latitud_ubi</label>
    <input required id="latitud_ubi" type="text" class="form-control" name="latitud_ubi" size="30" value="$recomendaciones.latitud_ubi"/>
</div><div class="form-group">
    <label for="longitud_ubi">longitud_ubi</label>
    <input required id="longitud_ubi" type="text" class="form-control" name="longitud_ubi" size="30" value="$recomendaciones.longitud_ubi"/>
</div><div class="form-group">
    <label for="duracion">duracion</label>
    <input required id="duracion" type="text" class="form-control" name="duracion" size="30" value="$recomendaciones.duracion"/>
</div><div class="form-group">
    <label for="id_categoria">id_categoria</label>
    <input required id="id_categoria" type="text" class="form-control" name="id_categoria" size="30" value="$recomendaciones.id_categoria"/>
</div><div class="form-group">
    <label for="id_producto">id_producto</label>
    <input required id="id_producto" type="text" class="form-control" name="id_producto" size="30" value="$recomendaciones.id_producto"/>
</div><div class="form-group">
    <label for="nombre_usuario">nombre_usuario</label>
    <input required id="nombre_usuario" type="text" class="form-control" name="nombre_usuario" size="30" value="$recomendaciones.nombre_usuario"/>
</div><div class="form-group">
    <label for="num_megusta">num_megusta</label>
    <input required id="num_megusta" type="text" class="form-control" name="num_megusta" size="30" value="$recomendaciones.num_megusta"/>
</div><div class="form-group">
    <label for="num_comentarios">num_comentarios</label>
    <input required id="num_comentarios" type="text" class="form-control" name="num_comentarios" size="30" value="$recomendaciones.num_comentarios"/>
</div><div class="form-group">
    <label for="promedio_evaluaciones">promedio_evaluaciones</label>
    <input required id="promedio_evaluaciones" type="text" class="form-control" name="promedio_evaluaciones" size="30" value="$recomendaciones.promedio_evaluaciones"/>
</div><div class="form-group">
    <label for="recomendacion_activa">recomendacion_activa</label>
    <input required id="recomendacion_activa" type="text" class="form-control" name="recomendacion_activa" size="30" value="$recomendaciones.recomendacion_activa"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>