$def with(recomendaciones)
<h3>
    <a href="/recomendaciones">recomendaciones</a>
</h3>
fecha: $recomendaciones.fecha <br>
descripcion: $recomendaciones.descripcion <br>
precio: $recomendaciones.precio <br>
latitud_ubi: $recomendaciones.latitud_ubi <br>
longitud_ubi: $recomendaciones.longitud_ubi <br>
duracion: $recomendaciones.duracion <br>
id_categoria: $recomendaciones.id_categoria <br>
id_producto: $recomendaciones.id_producto <br>
nombre_usuario: $recomendaciones.nombre_usuario <br>
num_megusta: $recomendaciones.num_megusta <br>
num_comentarios: $recomendaciones.num_comentarios <br>
promedio_evaluaciones: $recomendaciones.promedio_evaluaciones <br>
recomendacion_activa: $recomendaciones.recomendacion_activa <br>

<br>
<br>