$def with(favoritos, message)
<h3>
    <a href="/favoritos">favoritos</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_favorito" id="id_favorito" value="$favoritos.id_favorito" />

    <div class="form-group">
    <label for="nombre_usuario">nombre_usuario</label>
    <input required id="nombre_usuario" type="text" class="form-control" name="nombre_usuario" size="30" value="$favoritos.nombre_usuario"/>
</div><div class="form-group">
    <label for="id_recomendacion">id_recomendacion</label>
    <input required id="id_recomendacion" type="text" class="form-control" name="id_recomendacion" size="30" value="$favoritos.id_recomendacion"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>