$def with(favoritos)
<h3>
    <a href="/favoritos">favoritos</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>favoritos</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in favoritos:
        <tr>
            <td><a href='/favoritos/view/$item.id_favorito'>$item.id_favorito[:1] $item.nombre_usuario $item.id_recomendacion</a></td>
            <td><a href='/favoritos/edit/$item.id_favorito'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/favoritos/delete/$item.id_favorito'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>