<h3>
    <a href="/evaluaciones">evaluaciones</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="calificacion">calificacion</label>
    <input required id="calificacion" type="text" class="form-control" name="calificacion" size="30"/>
</div><div class="form-group">
    <label for="id_recomendacion">id_recomendacion</label>
    <input required id="id_recomendacion" type="text" class="form-control" name="id_recomendacion" size="30"/>
</div><div class="form-group">
    <label for="nombre_usuario">nombre_usuario</label>
    <input required id="nombre_usuario" type="text" class="form-control" name="nombre_usuario" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>