<h3>
    <a href="/usuarios">usuarios</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="email_usuario">email_usuario</label>
    <input required id="email_usuario" type="text" class="form-control" name="email_usuario" size="30"/>
</div><div class="form-group">
    <label for="contrasena_usuario">contrasena_usuario</label>
    <input required id="contrasena_usuario" type="text" class="form-control" name="contrasena_usuario" size="30"/>
</div><div class="form-group">
    <label for="nombre">nombre</label>
    <input required id="nombre" type="text" class="form-control" name="nombre" size="30"/>
</div><div class="form-group">
    <label for="apellido_pat">apellido_pat</label>
    <input required id="apellido_pat" type="text" class="form-control" name="apellido_pat" size="30"/>
</div><div class="form-group">
    <label for="apellido_mat">apellido_mat</label>
    <input required id="apellido_mat" type="text" class="form-control" name="apellido_mat" size="30"/>
</div><div class="form-group">
    <label for="fotografia_usuario">fotografia_usuario</label>
    <input required id="fotografia_usuario" type="text" class="form-control" name="fotografia_usuario" size="30"/>
</div><div class="form-group">
    <label for="promedio_evaluaciones">promedio_evaluaciones</label>
    <input required id="promedio_evaluaciones" type="text" class="form-control" name="promedio_evaluaciones" size="30"/>
</div><div class="form-group">
    <label for="nivel_usuario">nivel_usuario</label>
    <input required id="nivel_usuario" type="text" class="form-control" name="nivel_usuario" size="30"/>
</div><div class="form-group">
    <label for="codigo_recuperacion">codigo_recuperacion</label>
    <input required id="codigo_recuperacion" type="text" class="form-control" name="codigo_recuperacion" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>