$def with(usuarios)
<h3>
    <a href="/usuarios">usuarios</a>
</h3>
email_usuario: $usuarios.email_usuario <br>
contrasena_usuario: $usuarios.contrasena_usuario <br>
nombre: $usuarios.nombre <br>
apellido_pat: $usuarios.apellido_pat <br>
apellido_mat: $usuarios.apellido_mat <br>
fotografia_usuario: $usuarios.fotografia_usuario <br>
promedio_evaluaciones: $usuarios.promedio_evaluaciones <br>
nivel_usuario: $usuarios.nivel_usuario <br>
codigo_recuperacion: $usuarios.codigo_recuperacion <br>

<br>
<br>