$def with(categorias_productos)
<h3>
    <a href="/categorias_productos">categorias_productos</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>categorias_productos</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in categorias_productos:
        <tr>
            <td><a href='/categorias_productos/view/$item.id_categoria'>$item.id_categoria[:1] $item.nombre_categoria</a></td>
            <td><a href='/categorias_productos/edit/$item.id_categoria'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/categorias_productos/delete/$item.id_categoria'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>